/* google font set up */

  @import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{
    font-family: 'Work Sans', sans-serif;
}
/* header section  */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav > ul{
    display: flex;
    
    
}
nav li{
    margin-right: 20px;
    list-style: none;
}
nav li a{
    text-decoration: none;
}
.banner{
    display: flex;
    justify-content: space-evenly;
    padding: 100px 250px;
    align-items: center;
}
.banner-info, .gamer-info{
    width: 50%;
}
.banner-title{
    color:#F948B2;
}
.banner-info-img{
    width: 100%;
    height: auto;
}
.btn-primary{
    border-radius: 48px;
    background:  #ff42a5;
    border: 0;
    padding: 5px 10px;
    color: #fff;
}
.btn-second{
    border-radius: 48px;
    background: #4EC5F7;
    border: 0;
    padding: 5px 10px;
    color: #fff;
}
/* gamer section */
.gamer{
    display: flex;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
    padding: 120px 270PX;
    width: 1920px;
height: 600px;
flex-shrink: 0;
justify-content: center;
}
.gamer-info{
   text-align: right;
}
/* online game section */
.online-info{
    text-align: center;
}
.online-game{
    display: flex;
    padding: 10px;
}
.game-img{
    padding: 10px;
}
.play-game{
    display: flex;
    text-align: center;
    gap: 30px;
    margin-top: 100px;
}
.play-info{
    padding-top: 120px;
}
.play-img-sm{
    margin-top: -250px;
    padding-right: 500px;
}
.play-game-online{
    display: flex;
    text-align: center;
    gap: 30px;
    margin-top: 100px;
}
.play-info-online{
    padding-top: 120px;
}
.play-img-sm-online{
    margin-top: -250px;
    padding-left: 600px;
}
/* CAREER SECTION */
    .career-info{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        margin-top: 100px;
        background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);


    }
    .career-title{
        padding: 50px 0 50px 50px;
        color: #fff;
       
    }
    .career-details{
        display: flex;
    }
    .career-location{
        text-align: end;
        margin-left: 100px;
    }
    .btn-career{
        color: #FF42A5;
        padding: 10px 20px;
        border-radius: 25px;
        font-weight: 700;
        border: none;
    }
    .career-pic{
       padding: 30px;
    }
    /* icon section */
    .icon{
        margin-top: 100px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        text-align: center;

    }

    /* footer section */
    .footer-info{
        margin-top: 100px;
        text-align: center;
        background: #6eb5ee;
        padding: 100px;
    }
    .story{
        display: flex;
        list-style: none;
        justify-content: center;
        
    }
    .story li{
        margin-right: 30px;
    }



@media screen and (max-width: 576px) {
    nav, nav>ul{
        display: flex;
        flex-direction: column;
        padding: 30px;
        text-align: center;
    }
    .banner, .gamer{
        display: flex;
        text-align: center;
        padding: 30px;
        flex-direction: column;
    }
    .banner-info-img{
        max-width: 90%;
        height: auto;
    }
    .online-img {
        display: flex;
        flex-direction: column;
        max-width: 90%;
        height: auto;
    }
    .online-game{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    .play-game{
        display: flex;
        flex-direction: column;
       
    }
    .play-game-online{
        display: flex;
        flex-direction: column-reverse;
        
    }




    
}   

