/* google font set up */

  @import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{
    font-family: 'Work Sans', sans-serif;
}
/* header section  */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav > ul{
    display: flex;
    
    
}
nav li{
    margin-right: 20px;
    list-style: none;
}
nav li a{
    text-decoration: none;
}
.banner{
    display: flex;
    justify-content: space-evenly;
    padding: 50px 150px;
    align-items: center;
}
.banner-info{
    width: 50%;
}
.banner-title{
    color:#F948B2;
}
.btn-primary{
    border-radius: 48px;
    background:  #ff42a5;
    border: 0;
    padding: 5px 10px;
    color: #fff;
}
.btn-second{
    border-radius: 48px;
    background: #4EC5F7;
    border: 0;
    padding: 5px 10px;
    color: #fff;
}
/* gamer section */
.gamer{
    display: flex;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
    padding: 100px 240PX;
    width: 1920px;
height: 600px;
flex-shrink: 0;
justify-content: center;
}
.gamer-info{
   text-align: right;
}


@media screen and (max-width: 576px) {
    nav{
        display: flex;
        flex-direction: column;
    }
    .banner{
        display: flex;
        justify-content: space-evenly;
        padding: 50px 150px;
        align-items: center;
        flex-direction: column;
    }
    
}   